*{
    margin: 0;
}
body{
    color: #f6f3ee;
    background-color: rgb(24, 24, 23);
    background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size:  cover;
    background-attachment: fixed; */
}
.form
{
    position: absolute;
    left: 50%;
    top: 50vh;
    margin: 0 10px;
    transform: translate(-50%, -50%);
    /* border: 5px SOLID #feba1a; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
    width: 30rem ; 
    padding:20px ;
    border-radius: 20px;
    background-color:transparent;

}

.form-name{
    font-style: italic;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
label{
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 10px;

}
input{
background-color: transparent;
font-size: 16px;
width: 95%;
padding: 5px;
 margin: 10px; 
 border-radius: 10px;
color: bisque;
outline: none;
border: none;
border-bottom: 2px solid #feba1a;
}
.label-radio{
    width: 10%;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 10px;
}
.radio-btn{
    width: 10%;
    margin: 20px;
    padding: 10px;
}
.btn{
    width:40%;
    margin-top: 10px;
    margin-left: 27%;
    border-radius:50px ;
    font-size: large;
    font-weight: 900;
    background-color:#fcba1a  ;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10PX;
    border: none;
}
.btn:hover{
    background-color: black;
    transition: 0.54s;
    cursor: pointer;
}
